<div class="row">
  <div class="col-sm-6"><p class="h2">%%0%%s <span class="badge pull-left">{{count.result}}</span></p></div>
</div>
<p ng-if="count.result == 0">Pas encore de %%1%% !</p>
<div ng-include src="'/partials/includes/pagination.html'" ></div>
<div ng-include src="'/partials/includes/recherche_active.html'" ></div>

<div class="col-sm-6 text-left hidden-print">
  <button class="btn btn-large btn-info" ng-click="recherche.open_recherche()" tooltip-placement="bottom" tooltip="Rechercher">
    <span class="fa fa-search"></span>
  </button>
  <button class="btn btn-large btn-success" ng-click="create()" tooltip-placement="bottom" tooltip="Créer" ng-if="droits.create">
    <span class="glyphicon glyphicon-plus"></span>
  </button>
</div>

<div class="table-responsive">
  <table class="table table-hover" ng-show="%%1%%s.result.length > 0">
    <thead>
    <tr class="cursor-pointer" ng-click="tri.headerClicked($event)">
      <th class="text-center col-sm-2" field-name="{{object = object_name.toLowerCase()}}.code">Code</th>
      <th class="text-center" field-name="{{object}}.libelle">Libellé</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="%%1%% in %%1%%s.result" ui-sref="%%0%%.detail({Id: %%1%%.id})">
      <td class="text-center">
        {{%%1%%.code}}
      </td>
      <td class="text-center">
        {{%%1%%.libelle}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
